.centeredContainer {
  composes: centeredContainer from '../main.css';
  flex-direction: column;
  /* padding-top: 1em; */
}

.centeredContainer h3 {
  margin: 0 0 .3em 0;
}

.btnContainer {
  composes: container from '../main.css';
  flex-direction: row;
  align-items: flex-end;
}
.arrow {
  /* padding: 0.25em 0.4em 0.2em; */
  cursor: pointer;
  font-size: 30px;
}

.lvlBtn {
  composes: btn from '../main.css';
  background-color: #008CBA;
  border-radius: 50%;
  user-select: none;
  height: 35px;
  width: 35px;
}

.curLvlBtn {
  composes: btn from '../main.css';
  background-color: #003A60;
  border-radius: 50%;
  user-select: none;
  height: 35px;
  width: 35px;
}

.centeredContainer p {
  font-size: 1em;
  margin: 0;
}
