
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px 0;
}
.wrapper p {
  margin: 0px;
  font-size: 15px;
}
.centeredContainer {
  composes: centeredContainer from '../main.css';
}
.centeredContainer a {
  text-decoration: none;
  color: var(--six);
}
