
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px 0;
}
.wrapper p {
  margin: 0px;
  font-size: 15px;
}
.centeredContainer {
  composes: centeredContainer from '../main.css';
  /* border-color: brown; */
  /* padding: 1rem; */
}
.centeredContainer a {
  text-decoration: none;
}
