.container {
  composes: border container from '../main.css';
  border-color: blue;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0.5em;
}
