
.gameContainer {
  composes: border from '../main.css';
  display: flex;
  border-color: pink;
  flex-direction: row;
  /* height: 100vh; */
}

div {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}


.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* composes: half from '../main.css'; */
  flex: 1;
  padding: 1rem;
  border-right: black solid 2px;
  background-color: #F9CF00;
}

.rightSide {
  /* composes: half from '../main.css'; */
  flex: 1;
  padding: 1rem;
  background-color: #F19F4D;
}
