.btnSplash {
  composes: btn from '../main.css';
  padding: 15px 15px;
  background-color: #0275d8;
  min-width: 100px;
}

.btnSplash:hover {
  background-color: #025aa5;
}

.splashContainer {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  margin: 4em 7em;
  background-color: var(--color-one);
  /* height: 100%; */
}

.clear {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.clear img {
  height: 80px;
  float: left;
  padding-right: 10px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper h2 {
  margin: 0;
}

.wrapper img {
  width: 40px;
}
.left {
  padding-right: 10px;
}

.right {
  padding-left: 10px;
}

.regex {
  display: flex;
  justify-content: center;
}

.regex div {
  background: var(--color-two);
  border-radius: 5px;
  padding: 0 5px;
}
