body {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  font-family: 'Libre Franklin', sans-serif;

  /* font-family: 'Fira Sans', sans-serif; */

  /* font-family: 'Anonymous Pro', monospace; */
  /* font-family: 'Work Sans', sans-serif; */


  /* font-family: 'Fira Mono', monospace; */
  /* font-family: 'Alegreya Sans', sans-serif; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Karla', sans-serif; */
  /* font-family: 'Anonymous Pro', monospace; */

}
html{
  height: 100%;
  width: 100%;
}

/* #1E1F21 */
.border {
  /* border: solid 2px; */
}


.container {
  display: flex;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  /* background-color: #4CAF50;*/
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:focus {
  outline:0;
}

.btn:hover {
  box-shadow: 0 0 2px black;
}

/* .btn:active {
  box-shadow: 0 0 10px;
} */
