body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  height: 100%
}
html {
  height: 100vh;
}

section {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-half {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
}

.right-half {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
  align-items: center;
  /* padding: 3%; */
}

.welcome {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-around;
}

.filler {
  background-color: lightblue;
}

.lesson-zone {
  background-color: grey;
}

.puzzle {
  background-color: #bd6680;
}

div.puzzle-display {
  position: relative;
}

.bottom {
  position: absolute;
  top: 0px; left: 0px;
}

.top {
  position: absolute;
  top: 0px; left: 0px;
}

.highlight-one {
  text-decoration: underline yellow;
}

.highlight-two {
  color: red;
}

.puzzle-display-container {
  overflow: -webkit-paged-x;
}
