.refSheet {
  background-color: var(--color-five);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 10px solid var(--color-five);
  font-size: 13px;
  padding: 5px;
}

table {
  text-align: left;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
}
