.userInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  composes: btn from '../main.css';
  padding: 15px 32px;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}
