.userInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnTrue {
  composes: btn from '../main.css';
  padding: 15px 32px;
  background-color: #5cb85c;
}

.btnTrue:hover {
  /* composes: btn:hover from '../main.css'; */
  background-color: #449d44;
}

.btnFalse {
  composes: btn from '../main.css';
  padding: 15px 32px;
  background-color: #d9534f;
}

.btnFalse:hover {
  /* composes: btn:hover from '../main.css'; */
  background-color: #c9302c;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}
