.userInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 4px;
  color: #777;
  font-family: monospace;
  padding: 0.5rem;
}

.btnTrue {
  composes: btn from '../main.css';
  padding: 15px 15px;
  background-color: #5cb85c;
}

.btnTrue:hover {
  background-color: #449d44;
}

.btnTrueDisabled {
  composes: btn from '../main.css';
  padding: 15px 15px;
  background-color: #5cb85c;
  opacity: 0.65;
  cursor: not-allowed;
}


/* .both extends .btnTrue, .disabled {

} */
.btnFalse {
  composes: btn from '../main.css';
  padding: 15px 15px;
  background-color: #d9534f;
}

.btnFalseDisabled {
  composes: btn from '../main.css';
  padding: 15px 15px;
  background-color: #d9534f;
  opacity: 0.65;
  cursor: not-allowed;
}

.btnFalse:hover {
  background-color: #c9302c;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

.theDivAboveUserInput {
  /* background: white;
  border-radius: 4px;
  color: #777;
  font-family: monospace;
  padding: 0.5rem; */
}

.userInput {
  border: none;
  border-bottom: 2px solid #CDF;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  padding: 0.25rem 0.5rem;
}

.userInput:focus {
  outline: none;
  border-bottom: 2px solid #27C;
}


span.blank {
  color: #ffffff;
}

.userInputWrapper form {
  margin-top: .5em;
}
