.container {
  composes: border container from '../main.css';
  border-color: green;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

div.puzzleDisplay {
  position: relative;
}

.bottom {
  position: absolute;
  top: 0px; left: 0px;
}

.top {
  position: absolute;
  top: 0px; left: 0px;
}

.displayContainer {
  overflow: -webkit-paged-x;
  padding-left: 1em;
}


.btn {
  composes: btn from '../main.css';
  padding: 15px 32px;
}
