.container {
  composes: border container from '../main.css';
  border-color: green;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.centeredContainer {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.puzzleDisplay {
  position: relative;
}

.bottom {
  position: absolute;
  top: 0px; left: 0px;
}

.top {
  position: absolute;
  top: 0px; left: 0px;
}

.displayContainer {
  overflow: -webkit-paged-x;
  padding-left: 1em;
}


.btn {
  composes: btn from '../main.css';
  padding: 15px 32px;
  background-color: #DDB700;
}
.prompt {
  font-size: 1em;
}

.container h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.puzzleDisplay p {
  /* font-family: 'Anonymous Pro', monospace; */
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Libre Franklin', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Fira Mono', monospace; */
  /* font-family: 'Alegreya Sans', sans-serif; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Karla', sans-serif; */
  /* font-family: 'Anonymous Pro', monospace; */
}
